@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #2a2a2a;
    margin: 0;
    padding: 0;
}


/* Header*/

.fixed {
    position: fixed;
    width: 100%;
    background-color: #fff;
}

section {
    padding: 70px 0;
}

.navbar {
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: #868686;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: #f0eff3;
}

.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    padding-right: 4px;

}

.toggle-button .bar{
    background-color: #000;
    height: 3px;
    width: 100%;
    border-radius: 10px;
}

@media screen and (max-width:414px) {
    .container{
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button{
        display: flex;
    }

    .navbar-links{
        margin-top: 2.5rem;
        display: none;
        width: 100%;
    }

    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li{
        text-align: center;
    }

    .navbar-links ul li a{
        padding: .5rem 1rem;
    }

    .navbar-links.active{
        display: flex;
        background-color: #fefeff;
    } 
}

.hero {
    height: 100vh;
}

.hero__image {
    width: 400px;
}

.hero__logo {
    height: 30px;
    margin: 15px 0px;
}

.hero__navbar {
    display: block;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin: 5px 20px;
    text-transform: uppercase;
    font-size: 12px;
}

.hero__container {
    display: flex;
    height: calc(100vh - 70px);
    align-items: center;
}

.hero__texts {
    width: 60%;
    margin-bottom: 50px;
}

.hero__title {
    font-size: 2.8rem;
}

.hero__subtitle {
    font-size: 2rem;
    font-weight: 300;
    margin: 15px 0;
}


/* About */
.presentation {
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0px 0px;
    max-width: 1200px;
}

.background--gray {
    background-color: #f1f1f1;
}

.presentation__picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: top;
}

.presentation__copy {
    width: 60%;
    margin: 0 auto;
    line-height: 32px
}

.presentation__cta {
    display: inline-block;
    margin-top: 30px;
    background: var(--color-primary);
    color: #fff;
    text-decoration: none;
    padding: var(--boton-padding);
    border-radius: 40px;
}

/* Habilidades */
.habilidades{
    padding-top: 96px;
}

.habilidades .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.habilidades__habilidad ul li{
    margin-bottom: 16px;
}


/* Portafolio*/

.portafolio{
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu{
    display: inline;
}

.filter-btn {
    background: transparent;
    border-color: transparent;
    font-size: 1rem;
    text-transform: capitalize;
    margin: 0 .5rem;
    letter-spacing: 1px;
    padding: .375rem .75rem;
    
    cursor: pointer;
    transition: all 0.3s linear;;
    
    border-radius: 0.25rem;
}

.filter-btn:hover {
    background: #fddd73;
    color: #724caf;
}
.filter-btn:focus {
    outline-color: #fddd73;
}

.portafolio__subtitle {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.portafolio__item {
    margin: 16px 0 !important;
}

.portafolio__item__text {

    display: flex;
    width: 100% !important;
    justify-content: flex-end !important;
    margin-bottom: 16px !important;
}

.portafolio__item__text__titulo {
    width: 400px;
}

.portafolio__item__text__titulo p{
    line-height: 32px;
}

.portafolio__item__text--formato {}

.portafolio__item__proyecto {
    display: flex;
    align-items: center;
    justify-content: center;
}

.portafolio__item__text__titulo a{
    margin-bottom: 16px !important;
}

/* Contact */

.contact {
    border-radius: 5px;
    padding: 20px;
    padding-top: 64px;
}

.contact .container{
    width: 50%;     
}
.contact .container input[type=text], input[type=email], textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.contact .container input[type=text]:focus, input[type=email]:focus, textarea:focus {
    outline-color: orange;
}



.contact .container button[type=submit] {
    background-color: #724caf;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact .container button[type=submit]:hover {
    border: none;
    background-color: #6038a1;
}

/* Footer */

.footer {
    background: var(--color-primary);
    margin: 0;
    padding:0;
    width: 100%;
    height: 100px;
}


.subtitle {
    color: var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 35px;
}

.hero__subtitle {
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Source Code Pro', monospace;
    font-size: 28px;
    color: var(--color-primary);
}


/* Animation */

.hero__subtitle {
    animation: animated-text 2s steps(30, end) 1s 1 normal both;
}


/* text animation */

@keyframes animated-text {
    from {
        width: 0;
    }
    to {
        width: 472px;
    }
}


@media screen and (max-width:414px) {
    .container{
        width: 80% !important;
        padding: 0 16px;
    }
    .hero__image{
        display: none;
    }
    .hero__texts{
        width: 100%;
    }
    .presentation__copy{
        width: 100%;
    }

    .habilidades .container{
        display: flex;
        flex-direction: column;
    }

    .habilidades__habilidad ul{
        padding-bottom: 32px;
    }

    .portafolio__item__text {
        justify-content: flex-start !important;
    }
    
    .portafolio__item__text__titulo {
        width: 400px;
    }
    
    .portafolio__item__proyecto {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 32px;
    }
    
    .portafolio__item__proyecto .image{
        width: 340px !important;
    }

    .contact {
        padding: 0;
        margin: 0;
    }

    .contact .container{
        width: 92%;  
        /*padding: 0;
        margin: 0;    */
    }
}

@media screen and (max-width:900px) {
    .container{
        width: 90%;
        padding: 0 16px;
    }
    .hero__image{
        display: none;
    }
    .hero__texts{
        width: 100%;
    }
    .presentation__copy{
        width: 100%;
    }

    .portafolio__item__text {
        justify-content: flex-start !important;
    }
    
    .portafolio__item__text__titulo {
        width: 400px;
    }
    
    .portafolio__item__proyecto {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 32px;
    }
    
    .portafolio__item__proyecto .image{
        width: 90%;
    }

    .contact {
        padding-top: 64px;
        margin: 0;
    }

    .contact .container{
        width: 92%;  
    }
}